each review in reviews
                 div(class='review')
                   h3 #{review.title}
                   span Up Votes: #{review.upVotes}
                   span Down Votes: #{review.downVotes}
                   p #{review.body}