each review in reviews
                 div(class='review')
                   h3(class="review-title") #{review.title}
                   span(class="up-votes") Up Votes: #{review.upVotes}
                   span(class="down-votes") Down Votes: #{review.downVotes}


