doctype html
html
  head
    title EDEC
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  body
    header
      include ./templates/header.jade
    h3 About
    p Hello!
    p Welcom to the "About" section