<!DOCTYPE html>
<html>
  <head>
    <title>EDEC</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <% include templates/header.ejs %>

    </header>

       <% include templates/body.ejs %>


  </body>
  <% include templates/footer.ejs %>
</html>
