doctype html
html
  head
    title EDEC
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    header
        include ./templates/header.jade
    include ./templates/body.jade

   footer
    include ./templates/footer.jade
</html>
