doctype html
html
 head
    title EDEC

    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/profilestyle.css')
    link(rel='stylesheet' href='/stylesheets/hotelpref.css')
    script(type="text/javascript"  src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(type'text/javascript' src='/scripts/userProfile.js')
 body
   header
     include ./templates/header.jade 

   div(id="bodydiv")
     if logged==1
       div(class="user-info")
         div(id="userpanel")
            div(id="picturediv")
               if pathimage
                img(lass="userprofile" SRC=pathimage ALT="Home" id='profileIMG'  width="200" height="200")
               else 
                 img(lass="userprofile" SRC='/images/profile.png' id='profileIMG' ALT="Home"  width="200" height="200")
            form(action='/userprofile/uploadimg' enctype="multipart/form-data" method='post')
                   input(type='file' class="glyphicon glyphicon-picture"  name='image' value='Upload Image')
                   button(type='submit' class='glyphicon glyphicon-circle-arrow-up')
            a(href='/userprofile/viewFollows')
               span(class='') View Follows!    
                  
                     
            h1(class="usernameclass" id='username') #{username}
            div(id="shadow")
              div(class='preferencesHeader')      
                    span Your Prefrences:
                    label Category:
                    select(id='categoryPreferences')
                       option(value="electronics") Electronics
                       option(value="aliments") Aliments
                       option(value="books") Books
                       option(value="hotels") Hotels
             div(class='shadow')
                button(id='button_add_preferences')
                 span(class='glyphicon glyphicon-menu-down')           
                div(class='addpreferenceBox' id="addpreferenceBox")
                div(class='userpreference' id='userpreference')
            
                           
                  
         h1 Your's reviews  
         button(id='next') Next
         input(id='page_nr' value='1') 
         button(id='export_csv') Export Data
         span(id='state')
         select(id='category')
           option(value='hotels') Hotels
           option(value='cars') Cars 
           option(value='books') Books
           option(value='electronics') Electronics
           option(value='restaurants') Restaurants
         div(id="reviewpanel" class='review-text')
       div(id="sugestions")
         button(type="button"  class="preview_button" id="similar-users") users with similar preferences
            
     else
        h1(class="usernameclass") #{message}
        div(id="sugestions")
          button(type="button"  class="preview_button" id="similar-users") users with similar preferences
     
     
           
   footer
      include ./templates/footer.jade 