doctype html
html
 head
    title EDEC

    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/profilestyle.css')
    //link(rel='stylesheet' href='/stylesheets/hotelpref.css')
    script(type="text/javascript"  src='http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(type'text/javascript' src='/scripts/userProfile.js')
 body
   header
     include ./templates/header.jade 

   div(id="bodydiv")
     if logged==1
       div(class="user-info")
         div(id="userpanel")
            h1(class="usernameclass" id='username') #{username}
            div(id="shadow")
            div(id="picturediv")
               if pathimage
                img(lass="userprofile" SRC=pathimage ALT="Home" id='profileIMG'  width="200" height="200")
               else 
                 img(lass="userprofile" SRC='/images/profile.png' id='profileIMG' ALT="Home"  width="200" height="200")
            div(class='upload')     
               form(action='/userprofile/uploadimg' enctype="multipart/form-data" method='post')
                   input(type='file'  name='image' value='Upload Image')
                   button(type='submit' class='glyphicon glyphicon-circle-arrow-up')
               br
               br
               br    
               a(href='/userprofile/viewFollows')
                 span View Follows!
               br
               br  
               div(class='preferencess')
                 a(href='#')
                   span(id='addElectronics') Set electronics preferences
                 br
                 a(href='#')   
                   span(id='viewElectronics') View Electronics preferences
                 br
                 a(href='/hotelpreferences')      
                    span Set hotels preferences
                 br   
                 a(href='/foodpreferences')
                     span Set food preferences
                    
                  
                     
            
            
            
                           
                  
         h1 Your reviews  
         button(id='next') Next
         input(id='page_nr' value='1') 
         button(id='export_csv') Export Data
         span(id='state')
         div(id="reviewpanel" class='review-text')
       div(id="sugestions")
         button(type="button"  class="preview_button" id="similar-users") users with similar preferences
         div(class='similarsUserss' id='usersSimilars')
            
     else
        h1(class="usernameclass") #{message}
        div(id="sugestions")
          button(type="button"  class="preview_button" id="similar-users") users with similar preferences
     
     
           
   footer
      include ./templates/footer.jade 