<!DOCTYPE html>
<html>
<head>
    <title>EDEC</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/profilestyle.css' />
</head>
<body>
<header>
    <% include templates/header.ejs %>

</header>



<div id="bodydiv">

    <div class="user-info">
        <div id="userpanel">
            <div id="picturediv">
                <IMG class="userprofile" SRC="/images/profile.png" ALT="Home"  width="200" height="200" >
            </div>

            <h1 class="usernameclass">username</h1>
            <div id="shadow"></div>

        </div>



        <div id="reviewpanel">

        </div>

    </div>

    <div id="sugestions">
        <button type="button"  class="preview_button" id="similar-users">users with similar preferences</button>


    </div>


</div>


</body>
<% include templates/footer.ejs %>
</html>