<div id="bodydiv">

    <div id="tops">
        <div class="previewTop">
            <% if (logged==0){%>

                    <button type="button"  class="preview_button" onclick="alert('Hello world!')"> most matched to user profile</button>
            <%}else {%>
            <button type="button"  class="preview_button" onclick="alert('Hello world!')"> most matched to your profile</button>
            <%}%>

          <p><%=text_test%></p>

        </div>


        <div class="previewTop" >

            <button type="button"  class="preview_button">most controversial</button>
            <p><%=text_test%></p>

        </div>

        <div class="previewTop"  >

            <button type="button"  class="preview_button">most desireble</button>
            <p><%=text_test%></p>

        </div>


        <div class="previewTop">

            <button type="button"  class="preview_button">most undesirable</button>
            <p><%=text_test%></p>

        </div>
    </div>
    <div class="main-rev">



    <div id="reviews">
        <% if (logged==0){%>

            <h3 class="positive_reviews"><a  href="#" class=abouthref>positive reviews  </a></h3>
            <div id="shadow"> </div>

        <%}else{%>
        <h3 class="positive_reviews"><a  href="#" class=abouthref>you might like...  </a></h3>
        <div id="shadow"> </div>
        <%}%>


    </div >

    <div id="reviews1" >

        <% if (logged==0){%>

        <h3 class="positive_reviews"><a  href="#" class=abouthref>negative reviews  </a></h3>
        <div id="shadow"> </div>
        <%}else{%>

        <h3 class="positive_reviews"><a  href="#" class=abouthref>stay away from...  </a></h3>
        <div id="shadow"> </div>
        <%}%>


    </div >
    </div>


</div>


<!--

<div class="product-wrapper" style="margin: 0 20px; border-bottom: 1px solid #000;">
    <a href="#" style="float:left; text-align: center; width: 100px;">
        <img src="" style="max-width: 100px; max-height: 100px;" />
    </a>

    <div class="product-main-info">
        <p></p>
        <p class="product-main-info" style="font-size: 12px; line-height: 16px; height: 48px; overflow: hidden;"></p>
    </div>
</div>



$('.product-main-info').each(function() {
    var height = $(this).height(),
        actualHeight = $(this).scrollHeight(),
        text = $(this).text();

        while (actualHeight > height) {
            text = text.substr(-1);
        }


});
-->
