<div id="footer">

   <div class=footerdiv>
       <p>Authors:  <a  href="#" class=abouthref>Vali Tifui </a>|
        <a  href="#" class=abouthref>Valentin Colibaba </a>|
        <a  href="#" class=abouthref>Valeria Balan </a>|
        <a  href="#" class=abouthref>Bianca Coman </a></p>

   </div>
</div>