block header
  nav(class="navbar navbar-default headerNav")
    div(class="container-fluid")
        <!-- Brand and toggle get grouped for better mobile display -->
        div(class="navbar-header")
            button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                span(class="sr-only" Toggle navigation)
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
            a(class="navbar-brand" href="/")
             img(class="logo" SRC="/images/edec.png" ALT="Home")
  div(class='headerdiv')
    a(href="/signup" class='abouthref') sign up |   
    a(href="/signin" class=usershref) sign in


