nav(class="navbar navbar-default headerNav")
      div(class="container-fluid")
        <!-- Brand and toggle get grouped for better mobile display -->
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="/")
            img(class="logo" SRC="/images/edec.png" ALT="Home")
        

        ul(class="nav navbar-nav navbar-right")
          li
            div(class="searchDiv" )
               div(class="input-group")
               
                  input(type="text" class="form-control" id='search' placeholder="Search" aria-describedby="basic-addon2")
                  span(class="input-group-addon"  id='bSearch')
                    span(class="glyphicon glyphicon-search" aria-hidden="true" )
            span(class='glyphicon glyphicon-menu-down') 
                 select(id='category' class='headersel')
                     option(value='hotels') Hotels
                     option(value='electronics') Electronics
                     option(value='food') Food
                      

if (logged==0)
  div(class='headerdiv')
     a(href="/signup" class='abouthref') sign up  |
     a(href="/signin" class='usershref') sign in 
else

   div(class='headerdiv')
       a(class="a_class" href="/userprofile" )
        span Welcome #{username}!
       a(class ="a_class" href="/userprofile" )
         span(class="glyphicon glyphicon-user" aria-hidden="true")
       a(class="a_class" href="/notifications" )
           span(class="glyphicon glyphicon-envelope" aria-hidden="true" )

       a(class="a_class", href="/logout")
           span(class="logout") Logout
 


 
