
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
}
header {
    background: #ff6c10;
    overflow: hidden;
}
.headerNav {
    float: left;
    background: transparent;
    border: none;
    margin: 0;
}
.container-fluid {
    float: left;
}
.headerdiv{
    color: white;
    margin: 90px 135px 0 0;
    position: relative;
    float: right;
}
.navbar-toggle {
    display:none;
}
.navbar-header {
    float: left;
}
.navbar-brand {
    float: none;
    height: auto;
}
.navbar-nav {
    margin: 72px 0 0 225px;
    padding: 0;
    list-style-type: none;
    float: left !important;
}
.searchDiv{
  width:300px;
}
 .headerdiv a  {
  color: white;
  background-color: transparent;
  font-size: 14px;

}
.footerdiv a  {
  color: #414141;
  background-color: transparent;
  font-size: 14px;

}
.footerdiv{
  color:#414141;
    padding: 10px 0;
}

.footerdiv p {
    margin: 0;
}

.logo{
    margin: 10px 0 0 60px;
    max-width: 175px;
}

#bodydiv{
  background-color: rgba(157, 157, 186, 0.22);
  overflow: hidden;
}
#tops{
  line-height:30px;
  background-color:white;
  height:1107px;
  width:370px;
  float:left;
    margin: 30px 0 30px 5%;

}
.main-rev {
    margin: 30px 0 0 15px;
    float: left;
    width: 825px;
}
#reviews{
   background-color:white;
   padding:10px;
   height:548px;

 }

#reviews1{
  background-color:white;
  padding:10px;
  height:548px;
  text-align: center;
    margin: 10px 0 0;
}
#footer{
  background-color: #ff6c10;
  color: #ffffff;
  clear:both;
  text-align:center;
}

.preview_button{
  background-color: #ff6c10;
  height: 30px;
  width: 100%;
   margin: 5% 0;
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;

    font-size: 16px;
  box-shadow: 0px 3px 5px #888888;

}
.preview_button a {
    margin-left:5%;
    color: white;
    background-color: transparent;
    font-size: 14px;
}
.previewTop{

}

.positive_reviews a{
  color: #ff6c10;
  text-align: center;
}
#positive_reviews{

  margin-top: -1.5%;
  background-color: transparent;
 text-align: center;
  box-shadow: 0px 3px 5px #888888;
}
#reviews{
  text-align: center;

}
#shadow{
margin-left: 5%;
  height: 2px;
  width:700px ;
    background: radial-gradient(darkgrey, white, white);
}



Status API Training Shop Blog About
© 2016 GitHub, Inc. Terms Privacy Security Contact Help
