
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
}

select {
    border: 0 none;
    color: #ff6c10;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 378px;
}

header {
    background: #ff6c10;
    overflow: hidden;
}
.headerNav {
    float: left;
    background: transparent;
    border: none;
    margin: 0;
}
.container-fluid {
    float: left;
}
.headerdiv{
    color: white;
    margin: 90px 135px 0 0;
    position: relative;
    float: right;
}
.navbar-toggle {
    display:none;
}
.navbar-header {
    float: left;
}
.navbar-brand {
    float: none;
    height: auto;
}
.navbar-nav {
    margin: 72px 0 0 225px;
    padding: 0;
    list-style-type: none;
    float: left !important;
}
.searchDiv{
  width:300px;
}
 .headerdiv a  {
  color: white;
  background-color: transparent;
  font-size: 14px;

}
.footerdiv a  {
  color: #414141;
  background-color: transparent;
  font-size: 14px;

}
.footerdiv{
    width:100%;
  color:#414141;
    padding: 10px 0;
}

.footerdiv p {
    margin: 0;
}

.logo{
    margin: 10px 0 0 60px;
    max-width: 175px;
}

#bodydiv{
  background-color: rgba(157, 157, 186, 0.22);
  overflow: hidden;
  
}
#tops{
  line-height:30px;
  background-color:white;

  width:370px;
  float:left;
    margin: 30px 0 30px 5%;
    padding-bottom: 30px;

}
.main-rev {
    margin: 30px 0 0 15px;
    float: left;
    width: 825px;
}
#reviews{
   background-color:white;
   padding:10px;

 }

#reviews1{
  background-color:white;
  padding:10px;
  text-align: center;
    margin: 10px 0 0;
}
#footer{
  background-color: #ff6c10;
  color: #ffffff;
  clear:both;
  text-align:center;
}

.preview_button{
  background-color: #ff6c10;
  height: 30px;
  width: 100%;
   margin: 5% 0;
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;

    font-size: 16px;
  box-shadow: 0px 3px 5px #888888;

}
.preview_button a {
    margin-left:5%;
    color: white;
    background-color: transparent;
    font-size: 14px;
}




.review-text{
    max-width: 700px;
    padding:30px;
    word-wrap: break-word;
    text-align:justify;

}

.positive_reviews a{
  color: #ff6c10;
  text-align: center;
}
#positive_reviews{

  margin-top: -1.5%;
  background-color: transparent;
 text-align: center;
  box-shadow: 0px 3px 5px #888888;
}
#reviews{
  text-align: center;



}
#shadow{
margin-left: 5%;
  height: 2px;
  width:700px ;
    background: radial-gradient(darkgrey, white, white);
}

.select_category{
    margin-top:10px;
}
.review{

    padding:10px;
    padding-right:20px;
    padding-left:20px;
    border-bottom: 1px solid #b5b5b5;

}
.down_votes{
    margin-left:20px;
}
.shadow_review{
    margin-left: 5%;
    height: 1px;
    width:500px ;
    background: radial-gradient(#e0e0e0, #a3a3a3, white);
}
.product-picture{
    float: left;
    width: 25%;
    overflow: hidden;
}
.product-description{
    text-align:justify;
    overflow: hidden;
    font-size: 13px;
    line-height: 16px;

}
#mostMatchedUsersProfiles{
    padding-left:20px;
    padding-right:20px;
}
.product-pannel{
    position:relative;
    border-bottom: 1px solid #b5b5b5;
}
.picture{
    max-width: 70px;
    margin-top: 15px;
}
.picture_review{
    float: left;
    width: 15%;
    overflow: hidden;
}
.title_review{
    text-align:justify;
    overflow: hidden;
}
#controversialPanel{
    padding-left:20px;
    padding-right:20px;
}
#undesirablePanel{
    padding-left:20px;
    padding-right:20px;

}
#desirablePanel{
    padding-left:20px;
    padding-right:20px;
}
.glyphicon-envelope{
    font-size: 16px;
    padding: 10px;
}
.glyphicon-user{
    font-size: 16px;
    padding: 10px;
}
.logout{
    padding:10px;
}
#mostMatchedYourProfile{
    padding:20px;
}






